.item__content-previewBtn {
    position: absolute;
    left: 70%;
    top: 70%;
}

.item__content {
    border-radius: 30px;
    margin: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

    border: 1px solid rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.item__content--image-container {

    position: relative;
}

.item__content img {
    object-fit: cover;
    border-radius: 20px;
    height: 180px;
    width: 180px;
}

.item__content--image-badge {
    position: absolute;
    background-color: red;
    height: 50px;
    width: 70px;
    border-radius: 20px 0px 20% 0px;
    top: 0%;
}

#item__price {
    margin-block-start: 5px;
    margin-block-end: 0px;
    text-align: left;
    font-size: 20px;
}

#item__name {
    margin-block-start: 5px;
    margin-block-end: 0px;
    text-align: left;
    font-size: 35px;
}

#item__stock {
    margin-block-start: 5px;
    margin-block-end: 0px;
    text-align: left;
    font-size: 15px;
    color: green;
}