/*mini cart */

.bi-cart+p {
    align-self: center;
    position: relative;
    margin-top: -20px;
    right: -65%;
    font-size: 14px;
}

.bi-cart:hover {
    color: rgb(0, 195, 255);
    transition: 0.2s;
}