.cart__item {
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;


}

.cart__item-image {
    border-radius: 10px;
    object-fit: contain;
    height: 80px;
    width: 80px;
}


.cart__item-info {

display: flex;
flex-direction: column;
}


