.cart__item {
    margin: 10px;
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
}

.cart__item-image {
    border-radius: 10px;
    object-fit: contain;
    height: 80px;
    width: 80px;
}

.cart__item a {
    align-items: center;
    display: flex;
}

.cart__item-name {
    min-width: 150px;
    max-width: 152px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart__item-price,
.cart__item-discountPrice {
    min-width: 60px;
    margin: 0px;
}

.cart__item-discountPrice {
    text-decoration: line-through;
    text-align: left;
    font-size: 10px;
}